version: "3.8"
services:
  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    env_file:
      - ./backend/.env.production
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build:
      context: ./backend
      args:
        DATABASE_URL: ${DATABASE_URL}
        SENTRY_AUTH_TOKEN: ${SENTRY_AUTH_TOKEN}
    container_name: backend
    depends_on:
      - postgres
    env_file:
      - ./backend/.env.production
    ports:
      - "3001:3001"

  frontend:
    build: ./frontend
    container_name: frontend
    depends_on:
      - backend
    env_file:
      - ./frontend/.env.production
    ports:
      - "3000:3000"

  nginx:
    image: nginx:alpine
    container_name: nginx
    depends_on:
      - frontend
      - backend
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
      - "443:443"
